#customer{
    padding-top: 110px;
    padding-bottom: 100px;
}

.customer-cards{
    display: flex;
    align-items: center;
    gap: 94px;
}
.container-cards__img{
    max-width: 543px;
    width: 100%;
}
.container-card{
    max-width: 486px;
    width: 100%;
}
.customer-card_img{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
}
.container-card h4{
    color: rgba(34, 52, 61, 1);
    padding-bottom: 8px;
}
.container-card h1{
    font-size: 32px;
    color: rgba(34, 52, 61, 1);
    font-weight: 700;
    padding-bottom: 20px;
}
.container-card p{
    color: rgba(34, 52, 61, 1);
    font-weight: 400;
}
.container-card h5{
    font-weight: 400;
    font-size: 16px;
        color: rgba(34, 52, 61, 1);

}





@media (max-width:970px) {
    .customer-cards{
        flex-wrap: wrap;
        }
}
@media (max-width:700px) {
    .customer-cards{
        justify-content: center;
    }
}